// @import './breakpoints/media';
*{
    list-style: none;
    text-decoration: none;
    outline: none;
}
@mixin font-style-subtitle {
    font-size: 4em;
    font-weight: 700;
    color: black;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}
[type=button]:not(:disabled){
    z-index: 0;
}
header{
    .head_left{
        width: 50%;
        nav{
            transition: all .3s ease-in;
            z-index: 2;
            padding: 2em 5em;
            .nav-button{
                display: none;
                cursor: pointer;
                transform: rotate3d(100, 0, 0, 180deg);
                i{}
            }
            ul{
                align-items: center;
                justify-content: space-between;
                display: flex;
                li{
                    a{
                        color: black;
                        text-decoration: none;
                        font-size: 17px;
                        font-weight: 700;
                        letter-spacing: 1px;
                    }
                }
            }
        }
        .head_oppening{
            padding: 3em 6em;
            h1{
                font-size: 5em;
                font-weight: 900;
                color: black;
                margin-top: 1em;
            }
            p{
                margin-top: 2em;
                font-weight: 600;
                color: #535353;
            }
        }
        
        .head_discover{
            bottom: 50%;
            text-align: center;
            a{
                text-decoration: none;
                color: #fff;
                background-color: red;
                padding: 4em 2.5em;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
    .head_right{
        width: 50%;
        // background-image: url(Hiroshima-castle.jpg);
        .head_img{
            width: 100%;
            height: 100vh;
            background-image: url(./img/Hiroshima-castle.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    
}

// MAIN CONTAINER 
main {
    // CONTAINER HISTORU
    .container_history{
        margin-top: 5em;
        h1{
            @include font-style-subtitle()
        }
        .history_description{
            text-align: center;
            width: 50%;
            margin: 0 auto 5em auto;
            p{
                font-size: 20px;
                font-weight: 600;
                line-height: 35px;
            }
        }
        .history_img{
            // width: 98.7vw;
            .img{
                background-image: url(./img/temple-historic.jpg);
                width: 100%;
                background-size: 100%;
                background-repeat: no-repeat;
                height: 100vh;
            }
        }
    }

    // CONTAINER BOOKINGS
    .container_booking{
        h1{
            @include font-style-subtitle()
        }
        form{
            display: flex;
            justify-content: center;
            padding-right: 5em;
            gap: 15em;

            .form_col1{
                display: flex;
                flex-direction: column;
            }
            .form_col2{
                display: flex;
                flex-direction: column;
                align-items: center;
                div{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 5em;
                }
            }
            .form_button{
                display: flex;
                align-items: end;
                button{
                    background-color: red;
                    border: none;
                    padding: 4em 2em;
                    border-radius: 50%;
                    color: #fff;
                }
            }
            label{
                opacity: 80%;
            }
            input{
                border-top: 0;
                border-left: 0;
                border-right: 0;
                background-color: transparent;
            }
        }
    }
    // GALLERY
    .container_gallery{
        margin-bottom: 5em;
        h1{
            @include font-style-subtitle()
        }
        .carousel{
            width: 70%;
            height: 50%;
            margin: 0 auto;
            .carousel-item{
                transition: all .6s ease-in-out;
            }
        }
    }

}

// FOOTER CONTAINER
.container_footer{
    background-color: black;
    color: white;
    font-weight: 700;
    .footer_items{
        padding: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer_line-top{
            margin-bottom: 4em;
            width: 100%;
            display: flex;
            align-items: baseline;
            justify-content: space-evenly;
            .footer{
                &_item1{
                    ul li{
                        margin-top: 10px;
                        a{
                            color: #fff;
                            text-decoration: none;
                        }
                    } 
                }
                &_item4{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1em;
                    form{
                        div{
                            display: flex;
                            justify-content: space-between;
                            width: 25em;
                            border-top: none;
                            border-right: none;
                            border-left: none;
                            border-bottom: 1px solid gray;
                            padding-top: .8em;
                            padding-bottom: .8em;
                            input{
                                background-color: transparent;
                                border:none;
                                outline: none;
                                color: #fff;
                            }
                            button{
                                background-color: transparent;
                                color: #fff;
                                border:none;
                            }
                        }
                    }
                    p{
                        opacity: 70%;
                        color: gray;
                    }
                    .footer_social-media{
                        ul{
                            padding: 0;
                            display: flex;
                            gap: 2em;
                            li {
                                a{
                                    color: #fff;
                                    i{
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer_line-bot{
            padding: 4em;
            a{
                padding: 3em 2em;
                background-color: red;
                border-radius: 50%;
                color: #fff;
                text-decoration: none;
                font-weight: 800;
                font-size: 1.2em;
                letter-spacing: 1px;
            }
        }
    }
}

// MEDIA QUERY
@media (max-width:768px) {
    header{
        .head_left{
            position: absolute;
            z-index: 1;
            width: 100%;
            nav{
                position: fixed;
                z-index: 2;
                padding: 0;
                // background-color: #f3f3f3;
                .nav-button{
                    padding: 0;
                    display: block;
                    i{
                        color: #fff;
                        font-size: 2em;
                    }
                }
                ul{
                    display: none;
                }
                &.active{
                    flex-direction: column;
                    background-color: black;
                    padding: 1em;
                    height: 100vh;
                    ul{
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        height: 100%;
                        justify-content: space-around;
                        li{
                            // margin-bottom: 2em;
                            a{
                                color: #fff;
                                font-size: 3em;
                            }
                        }
                    }
                }
            }
            .head_oppening{
                margin-top: 7em;
                text-align: center;
                padding: 0;
                h1{
                    color: #fff;
                    font-size: 3em;
                }
                p{
                    color: rgb(224, 224, 224);
                    font-size: 1em;
                }
            }
            .head_discover{
                bottom: -50%;
            }
        }
        .head_right{
            z-index: 0;
            width: 100%;
            height: 100vh;
            .head_img{
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: 100vh;
                width: 100%;
                height: 100%;
            }
        }
    }
    main{
        // HISTORY CONTAINER
        .container_history{
            margin-top: 5em;
            h1{
                font-size: 50px;
                text-align: center;
                font-weight: 800;
                margin-bottom: 1.2em;
                position: relative;
                &::after{
                    content: '';
                    margin: 0 auto;
                    background-color: red;
                    width: 110px;
                    height: 10px;
                    bottom: -10px;
                    left: 50vw;
                    position: absolute;
                }
                &::before{
                    content: '';
                    margin: 0 auto;
                    background-color: red;
                    width: 110px;
                    height: 10px;
                    bottom: -10px;
                    right: 50vw;
                    position: absolute;
                }
            }
            .history_description{
                text-align: center;
                margin-bottom: 2em;
                padding: 1em;
                width: 100%;
                p{
                    font-size: 16px;
                    line-height: 25px;
                }
            }
            .history_img{
                width: 100%;
                height: 305px;
                img{
                    width: 100%;
                    
                }
            }
        }
        .container_booking{
            h1{
                font-size: 50px;
                text-align: center;
                font-weight: 800;
                margin-bottom: 1.2em;
                position: relative;
                &::after{
                    content: '';
                    margin: 0 auto;
                    background-color: red;
                    width: 110px;
                    height: 10px;
                    bottom: -10px;
                    left: 50vw;
                    position: absolute;
                }
                &::before{
                    content: '';
                    margin: 0 auto;
                    background-color: red;
                    width: 110px;
                    height: 10px;
                    bottom: -10px;
                    right: 50vw;
                    position: absolute;
                }
            }
            form{
                flex-direction: column;
                padding: 0;
                align-items: center;
                gap: 3em;
                .form_col1{

                }
                .form_col2{
                    gap: 3.5em;
                    div{
                        margin-bottom: 0;
                    }
                }
            }
        }
        // GALLERY CONTAINER
        .container_gallery{
            h1{
                font-size: 50px;
                text-align: center;
                font-weight: 800;
                margin-bottom: 1.2em;
                position: relative;
                &::after{
                    content: '';
                    margin: 0 auto;
                    background-color: red;
                    width: 110px;
                    height: 10px;
                    bottom: -10px;
                    left: 50vw;
                    position: absolute;
                }
                &::before{
                    content: '';
                    margin: 0 auto;
                    background-color: red;
                    width: 110px;
                    height: 10px;
                    bottom: -10px;
                    right: 50vw;
                    position: absolute;
                }
            }
        }
    }
    // FOOTER CONTAINER
    .container_footer{
        .footer_items{
            padding: 2em 1em;
            .footer_line-top{
                flex-direction: column;
                align-items: flex-start;
                .footer_item1{
                    display: none;
                }
                .footer_item3{
                    ul{
                        padding-left: 0;
                    }
                }
                .footer_item4{
                    form{
                        div{
                            width: initial;
                        }
                    }
                }
            }
            .footer_line-bot{}
        }
    }
}
